

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(18, 2, 32, 0.945);
    
}



 #signin{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    animation: fadeRight 1s ease-out;
}
h1{
    color: red;
}